node_modules/
/public/

.cache/
.DS_Store
.gatsby-context.js
.intermediate-representation/
.yarn-integrity

# not ignoring yarn.lock
package-lock.json

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env
.env.development
.env.production
