---
layout: layouts/base.vto
bodyClass: body-home
title: Home
---

<link rel="stylesheet" href="/lyt/lite-yt-embed.css">

<header class="page-header center">
  <h1 class="page-title">{{ home.welcome }}</h1>
  <div class="page-subtitle">{{ home.intro |> md }}</div>
</header>

<main class="{{ it.bodyClass }}">
  <section class="postList">
    {{ for post of search.pages("type=post", "date=desc", home.posts) }}
      <article class="post">
        {{ if post.image }}
          <div class="post-thumb">
            <a href="{{ post.url }}">
              {{ if post.thumb }}
                <img src="{{ post.thumb }}" alt="{{ post.alt }}" />
              {{ else }}
                <img src="{{ post.image }}" alt="{{ post.alt }}" />
              {{ /if }}
            </a>
          </div>
        {{ /if }}

        <div class="post-card">
          <header class="post-header">
            <h2 class="post-title">
              <a
                href="{{ post.url }}"
                {{ if post.url == url }}
                  aria-current="page"
                {{ /if }}
              >{{ post.title }}</a>
            </h2>

            {{
              include "templates/post-details.vto" {
                author: post.author,
                date: post.date,
                image: post.image,
                readingInfo: post.readingInfo,
                tags: post.tags,
              }
            }}
          </header>

          <div class="post-excerpt body">
            {{ post.excerpt |> md }}
          </div>

          <p>
            <a href="{{ post.url }}" class="post-link">
              {{ i18n.nav.continue_reading }}
            </a>
          </p>
        </div>
        {{# /post-card #}}
      </article>
    {{ /for }}
  </section>

  <hr>

  <p>
    {{ i18n.nav.archive_search }} <a href="/{{ archives.basename }}/">{{
      i18n.nav.archive_title
    }}</a>
  </p>
  <div class="search" id="search"></div>
</main>

<script defer src="/lyt/lite-yt-embed.js"></script>
