---
layout: layouts/base.vto
bodyClass: body-archive
---

<main class="{{ it.bodyClass }}">
  <header class="page-header">
    <h1 class="page-title">{{ title }}</h1>
  </header>
  <section class="archive-main">
    {{ include "templates/post-list.vto" { postslist: results } }}
    <div class="archive-filters">
      {{ if pagination.page === 1 }}
        {{
          set pageAuthors = search.pages("type=author pagination.page=1", "author")
        }}
        {{ if pageAuthors.length > 1 }}
          <nav class="page-navigation">
            <h2>{{ i18n.search.authors }}</h2>

            <ul class="page-navigation-tags">
              {{ for page of pageAuthors }}
                <li>
                  <a href="{{ page.url }}" class="badge">{{ page.author }}</a>
                </li>
              {{ /for }}
            </ul>
          </nav>
        {{ /if }}

        {{ set pageTags = search.pages("type=tag pagination.page=1", "tag") }}
        {{ if pageTags.length }}
          <nav class="page-navigation">
            <h2>{{ i18n.search.tags }}<span class="html-only"> 🏷️</span></h2>

            <ul class="page-navigation-tags">
              {{ for page of pageTags }}
                <li>
                  <a href="{{ page.url }}" class="badge">{{ page.tag }}</a>
                </li>
              {{ /for }}
            </ul>
          </nav>
        {{ /if }}
      {{ /if }}
    </div>
  </section>
  {{ include "templates/pagination.vto" }}

  <hr>

  <p class="archive-search">{{ i18n.nav.archive_search }}</p>
  <div class="search" id="search"></div>
</main>
